* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/background.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    height: 100vh;
    width: 100%;
}

nav ul {
    list-style-type: none;
    border-top: 6px solid #e6af2e;
    background-color: transparent;
}

nav ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 25px;
    padding: 15px 25px;
    color: #e6af2e;
    position: relative;
}

nav ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e6af2e;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

nav ul li a:hover::after {
    color: #e0e2db;
    transform: scaleX(0.45);
}

@media screen and (min-width: 576px) {
    nav {
        height: 7vh;
    }
    nav ul {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
    }
    nav ul li {
        flex: 1 0 auto;
    }
    .logo {
        display: block;
        text-align: center;
    }
}

#kontener {
    height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.naglowek{
    transform: translateY(-7vh);
}
.naglowek h1 {
    color: #e6af2e;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.naglowek h2 {
    color: #e6af2e;
    text-align: center;
    font-size: 1em;
    font-style: italic;
    color: #CCD5DC;
}

.naglowek h3 {
    color: #CCD5DC;
    text-align: center;
    font-size: 1.1em;
    margin-top: 10px;
}

.naglowek hr {
    width: 60%;
    margin: 0 auto;
    margin-top: 3px;
    border: 2px solid #e6af2e;
}
@media screen and (min-width: 576px) {
    #kontener {
        height: 93vh;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .naglowek h1 {
        font-size: 1.5em;
    }
    .naglowek h2 {
        font-size: 1em;
        color: #CCD5DC;
    }
    .naglowek h3 {
        font-size: 1.5em;
        margin-top: 5px;
    }
    .naglowek hr {
        margin-top: 5px;
        width: 40%;
        border: 2px solid #e6af2e;
    }
}

@media screen and (min-width: 992px) {
    .naglowek h1 {
        font-size: 4em;
    }
    .naglowek h2 {
        font-size: 1.5em;
    }
    .naglowek h3 {
        font-size: 2em;
    }
    .naglowek hr {
        border: 3px solid #e6af2e;
    }
}
@media screen and (min-width: 992px) {
    .naglowek h1 {
        font-size: 4em;
    }
    .naglowek h2 {
        font-size: 1.5em;
        color: #CCD5DC;
    }
    .naglowek h3 {
        font-size: 2em;
    }
    .naglowek hr {
        border: 4px solid #e6af2e;
    }
}
@media screen and (min-width: 1224px) {
    .naglowek h1 {
        font-size: 4em;
    }
    .naglowek h2 {
        font-size: 1.5em;
    }
    .naglowek h3 {
        font-size: 2em;
    }
    .naglowek hr {
        border: 5px solid #e6af2e;
    }
}
@media screen and (min-width: 1624px) {
    .naglowek h1 {
        font-size: 6em;
    }
    .naglowek h2 {
        font-size: 2em;
        color: #CCD5DC;
    }
    .naglowek h3 {
        font-size: 2.5em;
    }
    .naglowek hr {
        border: 6px solid #e6af2e;
    }
}
@media screen and (min-width: 1824px) {
    .naglowek h1 {
        font-size: 8em;
    }
    .naglowek h2 {
        font-size: 2.5em;
    }
    .naglowek h3 {
        font-size: 3em;
    }
    .naglowek hr {
        margin-top: 3px;
        border: 7px solid #e6af2e;
    }
}
